input {

    {% if 'kafka' in logstash.inputs.keys() and mode == 'full' -%}
    kafka {
        type => "kafka"
        bootstrap_servers => "kafka:9093"
        topics => [
            "general-topic"
        ]
        decorate_events => "true"
    }
    {%- endif %}

    {% if 'http' in logstash.inputs.keys() -%}
    http {
        port => {{ logstash.inputs.http.port }}
        ssl => false
    }
    {%- endif %}

}

filter {
    json {
        source => "message"
    }
}

# example of using data filter plugin
# filter {
#     date {
#         match => [
#             "timestamp", "MMM d HH:mm:ss"
#         ]
#         target => "timestamp"
#     }
# }

# example of using ruby filter plugin
# filter {
#   ruby {
#     # code => "new_event_block.call(event.clone)"
#     # code => "event.set('foo', 'zongzw')"
#     path => "/usr/share/logstash/config/pipelines/event_handling.rb"
#     script_params => {
#         'F5-LTM-7000-OAEBANK-01' => ['10.235.103.88', ' 10.235.89.74']
#     }
#   }
# }

filter {
    mutate {
        remove_field => [
            "message",
            "@version"
        ]
    }
}

output{
    if [stdout] == 'OK' {
        stdout { codec => rubydebug }
    }
    elasticsearch { 
        hosts => ["elasticsearch:9200"]
        ilm_rollover_alias => "general"
        ilm_pattern => "000001"
        ilm_policy => "general-ilm"
        template => "/usr/share/logstash/index-templates/general-template.tmpl"
        template_name => "general-template"
    }
}

