{
  "index_patterns": [
    "general-*"
  ],
  "settings": {
    "mapping": {
      "total_fields": {
        "limit": "10000"
      }
    },
    "number_of_shards": 1,
    "number_of_replicas": 0
  },
  "mappings": {
    "date_detection": false,
    "numeric_detection": true,
    "properties": {
      "@timestamp": {
        "type": "date"
      }
      {% if logstash.mappings and (logstash.mappings|length) > 0 %},
        {% for key, value in logstash.mappings.items() %}
          "{{key}}": {"type": "{{value}}"}
          {{ ',' if not loop.last }}
        {% endfor %}
      {% endif %}
    }
  }
}

