{
  "policy": {
    "phases": {
      "hot": {
        "min_age": "0ms",
        "actions": {
          "rollover": {
            "max_size": "{{ logstash.rollover.max_size }}",
            "max_age": "{{ logstash.rollover.max_age }}",
            "max_docs": {{ logstash.rollover.max_docs }}
          },
          "set_priority": {
            "priority": 100
          }
        }
      },
      "delete": {
        "min_age": "{{ logstash.rollover.delete_min_age }}",
        "actions": {
          "delete": {}
        }
      }
    }  
  }
}